[submodule "android-database-sqlcipher/src/main/external/sqlcipher"]
	path = android-database-sqlcipher/src/main/external/sqlcipher
	url = https://github.com/sqlcipher/sqlcipher.git
	ignore = untracked
[submodule "android-database-sqlcipher/src/main/external/sqlite-connection-core-crypto"]
	path = android-database-sqlcipher/src/main/external/sqlite-connection-core-crypto
	url = git@github.com:brodybits/sqlite-crypto-connection-core-preview-wip0101.git
